@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem;
  background: #fffdfa;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #f9f3ff;
  width: 100%;
  height: 50rem;
  border-radius: 36px;
}
.header .head {
  margin-left: 5%;
  margin-right: 5%;
}
.head .Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin-top: 1rem;
  height: 5rem;
  border-radius: 24px;
}
.Nav .Title-Image {
  height: 3rem;
  width: 11rem;
}

.Nav .links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  gap: 30px;
  color: #341552;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.Nav .links .link {
  text-decoration: none;
  color: black;
}

.Nav .Head-btn {
  padding: 14px 25px;
  gap: 10px;
  background: #8748c2;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.head-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.head-section .Section-Heading {
  color: #341552;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.head-section .section-btn {
  border: none;
  width: 298px;
  height: 70px;
  border-radius: 12px;
  background: #ff576d;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1.62px;
  text-transform: uppercase;
  cursor: pointer;
}

.head-section .section-btn svg {
  padding-top: 2px;
  margin-left: 10px;
}

.head-section .section-para {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.Section-2 {
  margin-top: 3rem;
  width: 100%;
  height: 65rem;
  border-radius: 36px;
  background: #fff3f3;
}
.Section-2 .Section-2-Body {
  margin-left: 5%;
  padding-top: 7rem;
}

.Section-2 .Section-2-Headings {
  display: flex;
  gap: 15rem;
}

.Section-2 .Section-2-Headings .heading-1 {
  color: #341552;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.Section-2 .Section-2-Headings .heading-2 {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.Section-2 .Image-Section {
  display: flex;
  gap: 4rem;
  margin-top: 5rem;
}

.slider-container {
  width: 414px;
  height: 454px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.slider-item {
  flex: 0 0 100%;
  height: 100%;
  position: relative;
}
.slider-item img {
  border-radius: 20px;
}

.slider-item:first-child {
  border-radius: 24px;
  background: #f29090;
  color: white;
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.slider-content h2 {
  font-size: 128px;
  margin-bottom: 10px;
}

.slider-content p {
  font-size: 24px;
}

/* Slider navigation dots */

.slider-dots {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  margin-right: 8px;

  cursor: pointer;
  border: 1px solid white;
}

.slider-dot:last-child {
  margin-right: 0;
}

.slider-dot.active {
  border-radius: 24px;
  background-color: #f29090;
}

/* Optional: Add styles for the remaining slides */

.slider-item:not(:first-child) {
  border-radius: 24px;
  background-color: #f2f2f2;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Section-2 .Section2-img {
  width: 860px;
  height: 453px;
}
.Section-3-Body {
  display: flex;
  margin-left: 5%;
  padding-top: 7rem;
  gap: 20rem;
}

.Section-3-Headings .heading-1 {
  color: #341552;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.Section-3-Headings .heading-2 {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-top: 5rem;
}
.Section-3-Headings .heading-3 {
  margin-top: 5rem;
  color: #e74c3c;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.Section-3-Body .Section-3-Card {
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 350px;
  height: 450px;
  padding: 40px;
}
.Section-3-Card .card-box {
  width: 85px;
  height: 85px;
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  background: #fffdfa;
}
.Section-3-Card .card-heading {
  color: #341552;
  font-family: sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: 2rem;
}
.Section-3-Card .card-para {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.Section-3 .Section-3-Card .card-images {
  display: flex;
  gap: 1rem;
  padding-top: 4rem;
}

.Section-4 {
  height: 1379px;
  margin-top: 4rem;
  border-radius: 36px;
  background: #d9f0f3;
  overflow-y: scroll;
}
.Section-4-Body {
  margin-left: 5%;
  padding-top: 7rem;
}
.Section-4 .Section-4-headings {
  display: flex;
  gap: 20rem;
}

.Section-4-headings .heading-1 {
  flex: 1;
  color: #341552;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.Section-4-headings .heading-2 {
  flex: 1;
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-right: 3rem;
}

.Section-4-images {
  display: flex;
  gap: 5rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.Section-4-images .card {
  width: 660px;
  height: 608px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #f5feff;
}
.Section-4-images .card .card-body {
  margin: 5rem;
}

.Section-4-images .card .card-content {
  width: 146px;
  height: 40px;
  padding: 8px 10px;

  border-radius: 66px;
  border: 1px solid #82bbc2;
  background: #fff;
  color: #8fb8bd;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.Section-4-images .Section-4-img {
  margin-top: 3rem;
}

.Section-4-images .card .card-heading {
  color: #341552;
  font-family: sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
}

.Section-4-images .card .card-para {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.Section-5-Body {
  display: flex;
  margin-left: 5%;
  padding-top: 7rem;
  gap: 20rem;
}
.Section-5-Headings {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Section-5-Headings .heading-1 {
  color: #341552;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.Section-5-Headings .heading-2 {
  color: #341552;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.Section-5 .btn {
  width: 312px;
  height: 72px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1.62px;
  text-transform: uppercase;
  border-radius: 12px;
  background: #ff576d;
  border: none;
}

.Section-5 .btn svg {
  padding-top: 1rem;
  padding-left: 0.7rem;
}

.Section-6 {
  border-radius: 36px;
  background: #f9f3ff;
  height: 469px;
  margin-top: 5rem;
}
.Section-6-body {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  /* align-items: center; */
}
.Section-6 .heading {
  color: #341552;
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin-top: 3rem;
}
.Section-6-body .brands {
  display: flex;
  justify-content: space-evenly;
  color: #a985cd;
  font-size: 20px;
  font-weight: 700;
  font-family: "Pacifico", cursive;
}

.Section-7 {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

.Section-7 .card-1 {
  flex: 1;
  height: 753px;
  background-color: #fff5f5;
  border-radius: 20px;
}
.Section-7 .card-1 .card-1-body {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  margin-left: 5rem;
}

.card-1 .card-1-body .lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-1-body .lists .list-item {
  color: #341552;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.Section-7 .card-1-heading {
  color: #341552;
  font-family: sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.Section-7 .card-1-para {
  color: #341552;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.Section-7 .card-2 {
  flex: 1;
  height: 753px;
  background-color: #f6f6f6;
  border-radius: 20px;
}
.Section-7 .card-2 .card-2-body {
  padding-top: 3rem;
  margin-left: 5%;
}

.Section-7 .card-2-body .card-2-headings {
  display: flex;
  gap: 20rem;
  color: #341552;
  font-family: sans-serif;
  font-size: 16.329px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.715px;
}

.Section-7 .sub-cards {
  display: flex;
  gap: 2rem;
}

.Section-7 .sub-cards .sub-cards-1 {
  margin-top: 2rem;
  width: 341.017px;
  height: 248px;

  background: #fafafa;
}

.Section-7 .sub-cards .sub-cards-1 img {
  width: 341.017px;
  height: 248px;
}

.Section-7 .sub-cards .sub-cards-2 {
  margin-top: 2rem;
  width: 300px;
  height: 248px;

  background: #fafafa;
}

.Section-7 .sub-cards .sub-cards-2 img {
  width: 300px;
  height: 248px;
}
